.msg {
    position: relative;
    padding: 0.6em;
    max-width: 400px;
    background: #ffcc7a;
    font-family: "游ゴシック”, “Yu Gothic";
    transition: .3s;
    margin-top: 10px;
}

.label_button {
    display: block;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    font-family: "游ゴシック”, “Yu Gothic";
    background: #ee7800;
    padding: 8px 0;
    border-radius: 20px;
    max-width: 240px;
    text-align: center;
    transition: .3s;
    cursor:pointer;
}

.span:hover {
    color: #ffffff;
    border-color: #FF8F00;
    background-color: #FF8F00;
}

.label_button:hover {
    -webkit-transform: scale(1.02);
        transform: scale(1.02);
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.2);
}

input[type="file"]{
    font-size: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 3.5em;
    height: 1.5em;
    background: #ddd;
    border-radius: 3em;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
input[type="file"]:before {
    content: “添付ファイル：”;
}

input[type="file"]:checked{
  background: #FF8F00;
}

input[type="file"]:after{
  position: absolute;
  content: "";
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
  box-shadow: 0 0 .25em rgba(0,0,0,.3);
  -webkit-transform: scale(.7);
  transform: scale(.7);
  left: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

input[type="file"]:checked:after{
  left: calc(100% - 1.5em);
}

.button {
    display: none;
    position: relative;
    margin: 8px 0 0 -14px;
}


img {
    max-width:100%;
}
