<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>
        <link rel="stylesheet" type="text/css" href="/static/index.css" />
        <title>すとれーーじ</title>
    </head>
    <body>
        <h2 class="msg">ファイルを保存＆ダウンロード</h2>
        <form action="/" method="POST" enctype="multipart/form-data">
            <label for="file">
                <span class="label_button">ファイルを選択</span>
                <p id="filename"></p>
                <input type="file" id="file" name="file" class="button" required>
            </label>
            <br>
            <label class="label_button" for="submit_file">
                <span>アップロード</span>
                <input type="submit" class="button" id="submit_file">
            </label>
        </form>
        {%- if flag %}
        <div align="center">
            <p>パスワード {{ passwd }} </p>
            <a herf="{{ file_url }}">ファイルのリンク</a>
            <script>alert('{{ file }} をアップロードしました。')</script>
        </div>
        {%- endif %}
        {%- if message %}
            <script>alert('{{ message }}')</script>
        {%- endif %}
    </body>
    <script>
        var inputFiles = document.getElementById('file');
        inputFiles.addEventListener("change", (e) => {
            console.log(e.target.files[0].name)
        }, false);
    </script>
</html>
